@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.home {
    color: #fff;
    background-color: $blackColor;

    .header {
        @include container();
        position: relative;
        padding: 20px 20px;
        display: flex;
        align-items: center;
        gap: 20px;

        a {
            color: #fff;
            text-decoration: none;
            font-size: 20px;
            transition: 0.2s all ease-in-out;

            &:hover {
                color: $redColor;
            }
        }

        img {
            max-width: 170px;
        }

        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-grow: 2;
            gap: 10px;

            .links {
                display: flex;
                gap: 10px;
            }
        }

        .items {
            button {
                cursor: pointer;
                background-color: transparent;
                border: none;

                svg {
                    transition: 0.2s all ease-out;

                    &:hover {
                        scale: 1.1;
                    }
                }
            }
        }

        .dropdown {
            position: absolute;
            right: 20px;
            top: 70px;
            background-color: lighten($blackColor, 10%);
            z-index: 2;

            .item {
                button {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    color: #fff;
                    padding: 15px;
                    width: 100%;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    font-size: 16px;
                    font-weight: 500;

                    &:hover {
                        background-color: lighten($blackColor, 15%);
                    }
                }
            }
        }
    }

    .films {
        @include container();
        padding: 20px 20px;

        .title {
            font-size: clamp(24px, 3vw, 32px);
            font-weight: 800;
        }

        hr {
            background-color: lighten($blackColor, 10%);
            height: 2px;
            border: none;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            padding-bottom: 10px;

            // &:hover > * {
            //     filter: blur(10px);
            // }

            // > *:hover {
            //     filter: none;
            // }
        }
    }
}

@media screen and (max-width: 666px) {
    .home .header .nav .links {
        display: none;
    }

    .home .header img {
        max-width: 120px;
    }

    .home .header .nav .links {
        display: none;
    }

    .home .films .grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media screen and (max-width: 360px) {
    .home .films .grid {
        place-items: center;
    }
}
