@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.movie {
    min-height: 100svh;
    color: #fff;
    background-color: #000;

    .main {
        @include container();
        background-color: $blackColor;
        padding-bottom: 20px;

        .info {
            padding: 20px 0px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 20px;

            .image {
                flex-shrink: 2;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;

                img {
                    max-width: 300px;
                    width: 100%;
                    transition: 0.2s all ease-in;
                }
            }

            .details {
                flex-shrink: 1;
                width: 100%;
                background-color: lighten($blackColor, 5%);
                padding: 20px;
                border-radius: 20px;

                .favorite {
                    width: 100%;
                    display: flex;
                    justify-content: right;
                    margin-top: 5px;

                    .removeBtn {
                        background-color: darken($redColor, 20%);
                    }

                    button {
                        background-color: lighten($blackColor, 15%);
                        border: none;
                        cursor: pointer;
                        padding: 10px 15px;
                        color: #fff;
                        font-size: 16px;
                        border-radius: 5px;

                        span {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                        }
                    }
                }

                hr {
                    @include hr();
                }

                .title {
                    font-size: 32px;
                    font-weight: 700;
                    display: flex;
                    justify-content: space-between;

                    .rating {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        font-size: 22px;
                        font-weight: 500;

                        .star {
                            display: flex;
                            align-items: center;
                        }
                    }
                }

                .subtitle {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    font-size: 18px;

                    .genres {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        gap: 10px;
                    }
                }
            }
        }

        .trailer {
            display: flex;
            align-items: center;
            justify-content: center;
            aspect-ratio: 16/9;
        }

        .recommended {
            padding-top: 20px;

            .title {
                padding-bottom: 20px;
                font-size: clamp(24px, 3vw, 32px);
                font-weight: 700;
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .rating {
        flex-direction: column;
    }

    .favorite {
        margin-top: 10px !important;
    }
}

@media screen and (max-width: 777px) {
    .info {
        flex-direction: column;
        justify-content: center;
    }

    .favorite {
        justify-content: center !important;
    }
}

@media screen and (max-width: 500px) {
    .title {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: center;
    }
}
